.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px 20px;
    grid-template-rows: 40px;
}

@media (max-width:767px) {
    .form {
        grid-template-columns: 1fr;
        grid-template-rows: 40px 40px;
    }
}

.form__button {
    background-color: rgb(31, 133, 192);
    color: white;
    border: none;
    cursor: pointer;
    padding: 0 20px;
}

.form__button:hover {
    background-color: rgb(74, 155, 202);
}

.form__button:active {
    background-color: rgb(102, 176, 219);
}