.section {
    background-color: rgb(255, 255, 255);
    max-width: 800px;
    margin: 0 auto;
    border: 0 20px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 1px 1px white;
}

.section__header {
    margin: 0;
    font-size: 20px;
    padding: 20px;
    border-bottom: 3px solid rgb(208, 201, 201);
}

.section__body {
    padding: 20px;
}