html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    background-color: rgb(197, 197, 197);
}

.header {
    max-width: 800px;
    margin: auto;
}

.main{
    padding: 20px;
}