html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    background-color: rgb(208, 201, 201);
    font-family: 'Roboto', sans-serif;
}

.header {
    max-width: 800px;
    margin: auto;
}

@media (max-width: 810px) {
    .header {
        padding-left: 20px;
    }
}

.main{
    padding: 20px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}